html, body, #htmlTextarea {
    background-color: #16161D;
    color: #ddd;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 18px;
}

#mainContainer {
    max-width: 100vw;
}

#htmlTextarea {
    height: 90vh;
}

.col {
    max-width: 50vw;
}
